<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <caption></caption>

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let product"> {{ product.categoria }} </td>
  </ng-container>

  <ng-container matColumnDef="inventory">
    <th mat-header-cell *matHeaderCellDef> Estoque </th>
    <td mat-cell *matCellDef="let product"> {{ product.estoque }} </td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let product"> {{ product.marca }} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let product"> {{ product.modelo }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let product"> {{ product.nome }} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Preço </th>
    <td mat-cell *matCellDef="let product"> {{ product.preco }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell class="button-new-product" *matHeaderCellDef>
        <button mat-stroked-button color="primary" aria-label="Adicionar novo produto"> NOVO PRODUTO </button>
    </mat-header-cell>

    <mat-cell class="button-edit-delete" *matCellDef="let product">
      <button mat-icon-button color="primary" aria-label="Editar produto">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="primary" aria-label="Remover produto">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
