<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary" class="center-title">CADASTRAR NOVO PRODUTO</mat-toolbar>
        <form [formGroup]="form">
            <mat-form-field appearance="fill" class="full-width">
                <input matInput placeholder="NOME DO PRODUTO" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fit-content-width">
                <input matInput placeholder="MARCA" formControlName="brand">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fit-content-width">
                <input matInput placeholder="MODELO" formControlName="model">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fit-content-width">
                <input matInput placeholder="ESTOQUE" formControlName="inventory">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fit-content-width">
                <input matInput placeholder="PREÇO" formControlName="price">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fit-content-width">
                <input matInput placeholder="CATEGORIA" formControlName="category">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">SALVAR</button>
        <button mat-raised-button (click)="onCancel()">CANCELAR</button>
      </mat-card-actions>
</mat-card>
